*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(./assets/bg-oure.png);
    background-repeat: no-repeat;
    background-size:cover;
    
    
    
}

#titulo p{
  
    font-size: 30px;
    color: white;
    text-align: center;
    width: auto;
    align-items: center;
    margin-top: 10px;
      
}
#container{
    
    margin-top: 140px;
    height: 790px;
}
#container p{
   
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    background-color: #00000067;
    
    

}

botao button{
    height: 40px;
    width: 100px;
}

button{
    position: absolute;
    border: 1px rgba(158, 26, 26, 0.603) solid;
    top: 120px;
    left: 20px;
    border-radius: 8px;
    background-color: rgba(221, 1, 1, 0.363);
    color: white;
}
/*--################################Criação de Modal###############################*/
.btnOpenModal {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(170, 1, 1);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btnOpenModal:hover{
  border: #333333 solid 1px;
  box-shadow:
              1px 1px #000000,
              2px 2px #000000,
              3px 3px #333333;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
      transition: 0.9s;

}
  
  hr {
    border: 0px;
    border-top: 1px solid rgb(124, 0, 0);
  }
  
  .modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(192, 192, 192, 0.911);
    border-radius: 10px;
    width: 50%;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  span {
    margin: 10px auto;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btns button {
    position: absolute;
    top: 500px;
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
  }
  
  .btnOK {
   background-color: rgba(0, 0, 0, 0.774)!important;
  
  }
  
  .btnClose {
    background-color: rgb(179, 1, 1)!important;
    
   }
  
   @media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    span, .btns button {
      font-size: smaller;
    }
   }

   



   /*--################################Criação de Modal###############################*/
   #voltar a{
    position: absolute;
    color: white;
    top: 165px;
    left: 22px;
    text-decoration: none;
    background-color: rgb(95, 95, 95);
    padding: 5px;
    border-radius: 5px;
}

#voltar a:hover{
  box-shadow:
                1px 1px #000000,
                2px 2px #000000,
                3px 3px #333333;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition: 0.9s;
}