*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(/assets/macula.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1100px;
    
    
}
#titulo p{
  
    font-size: 30px;
    color: white;
    text-align: center;
    width: auto;
    align-items: center;
    margin-top: 40px;
      
}
#container p{

    background-color: rgba(0, 0, 0, 0.507);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
#voltar a{
  padding: 5px;
  margin: 0 auto;
  width: 100px;
  border-radius: 8px;  
  position: absolute;
  bottom: -330px;
  left: 0;
  right: 0;  
  text-align: center;
  font-size: medium;
  text-decoration: none;
  border: solid rgb(116, 133, 123) 1px;
  color: rgb(255, 255, 255);
  background-color: rgba(37, 37, 37, 0.781); 
  transition: background 0.9s;
}
#voltar a:hover{

  background-color: rgba(0, 15, 0, 0.842);
  box-shadow:
  1px 1px #000000,
  2px 2px #000000,
  3px 3px #333333;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: 0.9s;
}
@media(min-width: 900px){
  body{
      background-image: url(/assets/bg-macula-full.jpg);
      background-size: cover;
  }
}



#pactoI{
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  text-align: center;
}

#pactoII{
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  text-align: center;
}

#pactoIII{
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  text-align: center;
}

#pactoIV{
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  text-align: center;
}

#pactoV{
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  text-align: center;
}

#pactoVI{
  text-align: left;
  color: white;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  text-align: center;
}


