* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-repeat: no-repeat;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
}


.background img {
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 700px;
    opacity: 0.4;
    top: 0px;
}

#lista {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    list-style: none;
    gap: 40px;
    top: 250px;
}

#lista li a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px;
    border-radius: 8px;
}

#banner2 {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    top: 50px;
}

#banner2 a {
    /* Botão voltar */
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px;
    border-radius: 8px;
}

#banner2 a:hover {
    /* Botão voltar */
    background-color: rgb(41, 41, 41);
    transition: 0.9s;
}

#lista li a:hover {
    background-color: rgb(41, 41, 41);
    transition: 0.9s;
}