*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(./assets/bg-ryme.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;   
    height: 650px;
    
}

p{ 
    
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.692);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(253, 253, 253);
    text-align: center;
    margin-top:50px;       
}

#topicos{
    margin-top: 100px;
    height: 360px;
    
}

ul{ /*configuração geral da lista*/
    
    padding: 10px;
    list-style: none;
    display: flex;
    text-align: center;
    flex-direction: column; /*Ordena itens por coluna*/
    gap: 30px;
    line-height: 1px;
    
 
}

ul li a{
    margin: 0 auto;
    width: 270px;

    border-radius: 8px;
    display: flex;
    border: solid rgb(149, 129, 187) 1px;
    text-decoration: none;
    color: white;
    flex-direction: column;
    text-align: center;
    /*line-height: 50px;*/
    background-color: rgba(0, 0, 0, 0.699);
    padding: 16px 24px;
    justify-content: center;
    transition: background 0.9s;
    
    
    
}

ul li a:hover{
    background-color: rgba(51, 1, 133, 0.884);
    border: rgb(255, 255, 255) solid 1px;
    
}



#voltar a{
    border: solid rgb(149, 129, 187) 1px;
    padding: 5px;
    margin: 0 auto;
    width: 100px;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;  
    text-align: center;
    font-size: medium;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 8px;
    transition: background 0.9s;
}

#voltar a:hover{
    background-color: rgba(51, 1, 133, 0.884);
    border: rgb(255, 255, 255) solid 1px;
}
@media(min-width: 900px){
    body{
        background-image: url(/assets/bg-newnihil.jpeg);
        background-size: cover;
    }
}
@media(min-width: 700px){
    #voltar a{
        margin-bottom: 60px;
    bottom: 0px;
    }
}
